<div class="bg-dark p-3">
    <h5 class=" text-white">{{ personaje.name }}</h5>     
    <div class="d-flex text-white">
        <img [src]="personaje.image" class="img-fluid mb-3" alt="{{ personaje.name }}" />   
        <div class="m-3 p-2">      
            <p><strong>Status:</strong> {{ personaje.status }}</p>
            <p><strong>Especie:</strong> {{ personaje.species }}</p>
            <p><strong>Tipo:</strong> {{ personaje.type }}</p>
            <p><strong>Género:</strong> {{ personaje.gender }}</p>
            <p><strong>Origen:</strong> {{ personaje.origin.name }}</p>
            <p><strong>Localización:</strong> {{ personaje.location.name }}</p>
        </div> 
    </div>
    <div class="text-end">
        <button type="button" class="btn btn-danger" (click)="closeModal()">Cerrar</button>
    </div>
</div>