<div class="container">
  <h2 class="text-center mt-4 text-danger">¡Comienza la Batalla!</h2>

  <div class="row">
    <div class="col text-center">
      <h4>{{ capitalizeFirstLetter(pokemonSeleccionados[0].name) }} (Vida: {{ lifePokemon1 }})</h4>
      <img [src]="getImage(pokemonSeleccionados[0])" alt="{{ pokemonSeleccionados[0]?.name }}" />
    </div>
    <div class="col text-center">
      <h4>{{ capitalizeFirstLetter(pokemonSeleccionados[1].name) }} (Vida: {{ lifePokemon2 }})</h4>
      <img [src]="getImage(pokemonSeleccionados[1])" alt="{{ pokemonSeleccionados[1]?.name }}" />
    </div>
  </div>

  <div>
    <button (click)="applyDamage(10)">Atacar (10 de daño)</button>
  </div>

  <div>
    <h4>Registro de Batalla:</h4>
    <ul>
      <li *ngFor="let log of battleLog">{{ log }}</li>
    </ul>
  </div>
</div>
